<template>
<v-app>
  <sidebar :drawer="drawer"></sidebar>
  <v-toolbar app color="blue darken-3" :clipped-left="$vuetify.breakpoint.mdAndUp" dark fixed>
    <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <span class="hidden-sm-and-down">Application Name</span>
      </v-toolbar-title>
      <v-spacer>
        
      </v-spacer>
      <span class="caption mr-3">All Right Reserved</span>
      <v-icon large>important_devices</v-icon>
  </v-toolbar>
  <v-content>
    <v-container fluid>
      <!-- <router-view></router-view> -->
    </v-container>
  </v-content>
  <v-footer app></v-footer>
</v-app>
</template>

<script>
export default {
  data() {
    return {
      drawer: true
    };
  },
  mounted() {
    console.log("Component mounted.");
  }
};
</script>
