<template>
  <v-navigation-drawer app clipped v-model="drawer">
    <v-list dense class="pt-0">
        <v-list-tile >
            <v-list-tile-action>
              <v-icon>computer</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                MENU1
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>
<script>
export default {
   props :['drawer'],
}
</script>
